body {
    background-image: url(img/Fundo\ borrado\ colorido\ _\ Vetor\ Grátis.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: aliceblue;
}

hr {
    color: rgb(4, 255, 0);

}

p {
    font-size: large;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
}

.fonte{
    font-family: 'Kanit', sans-serif;
    list-style-type: none;
    margin-right: 35px;
}

p {
    font-family: 'Kanit', sans-serif;
}

.foto_perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}