* {
    margin: 0;
}

.linha {
    clear: both;
}

body {
    background-color: rgb(240, 240, 240);
    overflow-x: hidden;
}


/* CABECALHO----------------------------------------------------- */
.cabecalho1 {
    width: 100%;
    height: 56px;
    background-color: #162e58;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
}


.cabecalho1 p {
    padding-top: 18px;
    padding-left: 50px;
}
/* CABECALHO----------------------------------------------------- */

/* NAVEGACAO----------------------------------------------------- */
.nav {
    width: 100%;
    height: 48px;
    background-color: #162e58;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.nav a{
    color: white ;
    text-decoration: none;
}

.nav ul {
    text-align: center;
    display: inline-flex;
    list-style: none;
    padding-right: 40px;
}

.nav ul li{
    width: 150px;
    padding: 16px 0px 16px;
}

.nav ul li a {
    padding: 15px 20px;
}

.nav ul li:hover {
    background-color: #293F66;
    border-bottom: 2px solid white;
}

/* NAVEGACAO----------------------------------------------------- */

/* TEMPORADA----------------------------------------------------- */
.temporada {
    margin: auto;
    margin-top: 4px;
    width: 61.5%;
    height: 58.67px;
    background-color: #f1f3f4;
    color: #70757a;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.data {
    margin-top: 5px;
    font-size: 14px;
    color: #4487f6;
    font-weight: bold;
}

.temp_titulos {
    width: 65px;
    padding: 10px 24px 10px;
}

/* CLASSIFICACAO----------------------------------------------------- */
.classificacao, .gols {
    width: 61.5%;
    margin: auto;
    background-color: #f1f3f4;
    color: #bdc1c6;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.h3grupos {
    margin: 0px 0px 8px 16px;
    padding-top: 18px;
    color: #202124;
}
/* CLASSIFICACAO----------------------------------------------------- */

table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-top: -5px;
}

table th{
    font-weight: 100;
    font-size: 12px;
    color: #70757a;
    padding: 4px;
    height: 20px;
}

table td{
    width: 31px;
    font-weight: 100;
    color: #202124;
    height: 41px;
    font-size: 14px;
    text-align: center;
}

table img{
    width: 24px;
    height: 24PX;
}

.titulo-times{
    width: 40%;
    text-align: left;
    padding-left: 10px;
}

.tabela-borda {
    border-top: none !important; 
}

.ultimas-cinco {
    width: 19%;
}

.ultimas-cinco img {
    width: 16px;
}

.borda-azul {
    border-left: 3px solid #4852f4;
}

.borda-laranja {
    border-left: 3px solid #fa7b17;
}
/* ========================================= */

.foto_jogadores {
    width: 42px;
    height: 42px;
    border-radius: 50%; 
}

.gols table {
    margin-top: 10px;
}

.right{
    text-align: right;
}

.gols h2 {
    background-color: #162e58;
    color: white;
    padding: 15px;
    text-align: center;
}

.gols h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    font-weight: bold;
    color: #202124;
}

.jogodores_left {
    text-align: left;
    padding-left: 9px;
}

.w40{
    width: 8%;
}

.left{
    text-align: left;
    padding-left: 10px;
}

.gols td {
    padding-top: 10px;
}
