* {
    margin: 0 auto;
}

.tudo{
    margin: 0 auto;
    overflow-y: scroll;
}

.divlinha {
    clear: both;
}

.header_1 {
    font-family: Arial, sans-serif;
    height: 56px;
    width: 100%;
    background-color: #162e58;
    color: white;
}

body {
    height: 500px;
    background-color: #171717;
    border: 1px solid blue;

}
.titulo {
    font-size: 14px;
    padding: 18px 100px 18px 50px;
}

.nav {
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #162e58;
    font-family: Arial, sans-serif;
    font-size: 11px;
}

.nav ul {
    list-style: none;
    display: inline-flex;
    padding-right: 36px;
    padding-top: 12px;
    
}

.titulo_nav {
    width: 138px;
}

.temporada {
    font-family: Arial, sans-serif;
    color: #9aa0a6;
    font-size: 12px;
    margin-top: 49px;
    margin-left: auto;
    width: 62%;
    height: 48px;
    padding-top: 15px;
    background-color: #303134;
}

.titulo-temp {
    margin-left: 20px;
}

.data {
    font-size: 14px;
    color: #4487f6;
}