*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-image: url(img/fundo\ 3\ code.jpg);
    background-repeat:repeat;
    background-size: cover;
    background-attachment: fixed;
}

.estrutura {
    background-color: white;
    width: 65%;
    margin: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* cabecalho ----------------------- */
.cabecalho {
    font-family: 'Nunito', sans-serif;
    height: 80px;
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding-top: 25px;
}

.cabecalho a{
    margin: 5px;
}

.cor{
    color: black;
}

/* cabecalho ----------------------- */

/* foto ---------------------------- */
.perfil {
    font-family: 'Nunito', sans-serif;
    height: 200px;
}

.dados {
    width: 70%;
    float: left;
    
    text-align: right;
    padding-top: 60px;
}

.foto {
    width: 30%;
    float: left;
    
}

.foto img {
    padding-top: 20px;
    padding-left: 10px;
    width: 160px;
    height: 160px;
    border-radius: 80px;
}

/* foto ---------------------------- */


/* obj ----------------------------- */


.exper{
    width: 70%;
    float: left;
    padding: 10px;
    border-right: 3px solid black;
    border-top: 3px solid black;
}

.exper h2{
    text-decoration: underline;
}

.exper h3, .exper p{
    padding-left: 10px;
    text-align: justify;
}

.tech{
    border-top: 3px solid black;
    padding: 10px;
    width: 24%;
    height: 383px;
    float: left;
}

.tech h2{
    text-decoration: underline;
}

.tech p{
    width: 60%;
    float: left;
}

.circulo{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blueviolet;
    float: left;
    margin-top: 4px;
    margin-left: 2px;

}


/* obj ----------------------------- */

/* educacao -----------------------------*/

.educacao{
    width: 98.8%;
    height: 200px;
    padding-left: 10px;
    padding-top: 10px;
    border-top: 2px solid black;
}

.educacao h2{
    text-decoration: underline;
}

.educacao h4, .educacao p{
    padding-left: 10px;
} 
